In [1]:
import pandas as pd
import networkx as nx
from networkx.drawing.nx_agraph import graphviz_layout
from multiprocessing import Pool
import multiprocessing as mp

In [2]:
data_path = '/notebooks/social network/HW1/data/'
p1 = 'Period1.csv'
p2 = 'Period2.csv'
test = 'TestData.csv'

In [3]:
df_p1 = pd.read_csv(data_path+p1)
df_p1.head()

   year  source id  target id
0  1999    9909133    9811241
1  1997    9702110    9410212
2  1995    9510041    9210121
3  1997    9703036    9611090
4  1997    9610162    9609159

In [4]:
G=nx.Graph()

In [5]:
def to_graph(df):
    for i in range(df_p1.shape[0]):
        G.add_edge(df.iloc[i]['source id'],df.iloc[i]['source id'])

In [6]:
%%time
to_graph(df_p1)

CPU times: user 28.6 s, sys: 8 ms, total: 28.7 s
Wall time: 28.7 s

In [22]:
nonedge = nx.non_edges(G)

In [23]:
len(list(nx.non_edges(G)))

105509601

In [24]:
def compute_common_neigh(nonedge):
    common_neigh = [(e[0], e[1], len(list(nx.common_neighbors(G,e[0],e[1])))) for e in nonedge]
    return common_neigh

In [25]:
%%time
common_neigh = compute_common_neigh(nonedge)

CPU times: user 12min 30s, sys: 6.66 s, total: 12min 37s
Wall time: 12min 37s

In [26]:
len(common_neigh)

105509601

In [27]:
nonedge_list = list(nx.non_edges(G))

In [28]:
# create dataframe
label = ['node1', 'node2']
df = pd.DataFrame.from_records(nonedge_list, columns=label)

In [29]:
df.head()

     node1    node2
0  9601024  9306112
1  9601024  9601026
2  9601024  9601027
3  9601024  9306114
4  9601024  9601029

In [30]:
df.to_csv('nonedge.csv', index=False)

In [35]:
common_neigh_v = []
for i in common_neigh:
    common_neigh_v.append(i[2])

In [36]:
common_neigh_v[:5]

[0, 0, 0, 0, 0]

In [37]:
se = pd.Series(common_neigh_v)
df['common_neigh'] = se.values
df.head()

     node1    node2  common_neigh
0  9601024  9306112             0
1  9601024  9601026             0
2  9601024  9601027             0
3  9601024  9306114             0
4  9601024  9601029             0

In [38]:
%%time
jaccard = list(nx.jaccard_coefficient(G))

CPU times: user 20min 4s, sys: 28.4 s, total: 20min 33s
Wall time: 20min 32s

In [39]:
len(jaccard)

105509601

In [40]:
jaccard[0]

(9601024, 9306112, 0.0)

In [41]:
def get_value(feature_list):
    v = []
    for i in feature_list:
        v.append(i[2])
    return v

In [48]:
val = get_value(jaccard)

In [49]:
se = pd.Series(val)
df['jaccard'] = se.values
df.head()

     node1    node2  common_neigh  jaccard
0  9601024  9306112             0      0.0
1  9601024  9601026             0      0.0
2  9601024  9601027             0      0.0
3  9601024  9306114             0      0.0
4  9601024  9601029             0      0.0

In [44]:
%%time
resource_alloc = list(nx.resource_allocation_index(G))

CPU times: user 13min 45s, sys: 39.6 s, total: 14min 24s
Wall time: 14min 24s

In [45]:
len(resource_alloc)

105509601

In [46]:
resource_alloc[0]

(9601024, 9306112, 0)

In [50]:
val = get_value(resource_alloc)
se = pd.Series(val)
df['resource_alloc'] = se.values
df.head()

     node1    node2  common_neigh  jaccard  resource_alloc
0  9601024  9306112             0      0.0               0
1  9601024  9601026             0      0.0               0
2  9601024  9601027             0      0.0               0
3  9601024  9306114             0      0.0               0
4  9601024  9601029             0      0.0               0

In [51]:
%%time
adamic_adar = list(nx.adamic_adar_index(G))

CPU times: user 15min 22s, sys: 56.6 s, total: 16min 19s
Wall time: 16min 19s

In [52]:
len(adamic_adar)

105509601

In [53]:
adamic_adar[0]

(9601024, 9306112, 0)

In [54]:
val = get_value(adamic_adar)
se = pd.Series(val)
df['adamic_adar'] = se.values
df.head()

     node1    node2  common_neigh  jaccard  resource_alloc  adamic_adar
0  9601024  9306112             0      0.0               0            0
1  9601024  9601026             0      0.0               0            0
2  9601024  9601027             0      0.0               0            0
3  9601024  9306114             0      0.0               0            0
4  9601024  9601029             0      0.0               0            0

In [55]:
%%time
pref_attach = list(nx.preferential_attachment(G))

CPU times: user 10min 29s, sys: 48.2 s, total: 11min 17s
Wall time: 15min 38s

In [56]:
len(pref_attach)

105509601

In [57]:
pref_attach[0]

(9601024, 9306112, 4)

In [58]:
val = get_value(pref_attach)
se = pd.Series(val)
df['pref_attach'] = se.values
df.head()

,node1,node2,common_neigh,jaccard,resource_alloc,adamic_adar,pref_attach
0,9601024,9306112,0,0.0,0,0,4
1,9601024,9601026,0,0.0,0,0,4
2,9601024,9601027,0,0.0,0,0,4
3,9601024,9306114,0,0.0,0,0,4
4,9601024,9601029,0,0.0,0,0,4

In [59]:
%%time
df.to_csv('nonedge.csv', index=False)

CPU times: user 10min 48s, sys: 14.2 s, total: 11min 2s
Wall time: 11min 12s

In [60]:
df_p2 = pd.read_csv(data_path+p2)
df_p2.head()

   year  source id  target id
0  2001     111094     104090
1  2001     105182       1113
2  2001     103095    9509074
3  2001     104139      10204
4  2000       8173    9705044

In [61]:
df_p2.shape

(98353, 3)

In [68]:
del common_neigh
del jaccard
del resource_alloc
del adamic_adar
del pref_attach

In [69]:
%%time
sort_nonedge = []
for i in nonedge_list:
    sort_nonedge.append(sorted(i))

CPU times: user 1min 58s, sys: 17.2 s, total: 2min 15s
Wall time: 2min 15s

In [70]:
sort_nonedge[:10]

[[9306112, 9601024],
 [9601024, 9601026],
 [9601024, 9601027],
 [9306114, 9601024],
 [9601024, 9601029],
 [9601024, 9601030],
 [9306119, 9601024],
 [9601024, 9601031],
 [9601024, 9601033],
 [9601024, 9601034]]

In [71]:
source = df_p2['source id'].values.tolist()
target = df_p2['target id'].values.tolist()
p2_zip = list(zip(source,target))

In [72]:
len(p2_zip)

98353

In [73]:
p2_zip[:10]

[(111094, 104090),
 (105182, 1113),
 (103095, 9509074),
 (104139, 10204),
 (8173, 9705044),
 (105193, 9503230),
 (12067, 9912279),
 (103089, 2117),
 (11115, 9904179),
 (8147, 9905046)]

In [74]:
sort_p2 = []
for i in p2_zip:
    sort_p2.append(sorted(i))

In [75]:
sort_p2[:10]

[[104090, 111094],
 [1113, 105182],
 [103095, 9509074],
 [10204, 104139],
 [8173, 9705044],
 [105193, 9503230],
 [12067, 9912279],
 [2117, 103089],
 [11115, 9904179],
 [8147, 9905046]]

In [ ]:
%%time
y_label = []
for i in sort_nonedge:
    for j in sort_p2:
        if i==j:
            y_label.append(1)
            break
    else:
        y_label.append(0)

In [ ]:
y_label[:20]

In [ ]:
se = pd.Series(y_label)
df['y_label'] = se.values
df.head()